
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    
}
#in{
  background-color: #F8F8FF;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}
input{
    background-color:#F8F8FF;
}
 

img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}
#inside{
  background-color: lightgray;
}
.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.btn-link-2 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

/***** Top content *****/

.inner-bg {
    padding: 60px 0 80px 0;
    height: 30%;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 70px;
}

#search{
    width: 130px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    align:middle;
    background-color: #F8F8FF;
    background-image: url('lookup/search.gif');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#case{
  background-color: #F8F8FF
}
#c{
  color:#FF4500;
  font-size: 46px;
  margin-left: 12cm;
}
#off{
   margin-left: 11cm;
}
#search:focus {
    width: 100%;
    border: 2px solid black;
}

.navbar { border-radius:0; }
        .modal-header, h4, .close {
          background-color: black;
          color:white !important;
          text-align: center;
          font-size: 30px;
           }
        #bt{
         background-color: gray;
         }
       .modal-footer {
         background-color: black;
          }
      .birthday-picker select
        {
        display: inline-block;
         }
.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
}



.navbar .navbar-inverse .navbar-static-top{
    color:black;
}
 .modal .modal-body {
   max-height: 320px;
   max-width: 500px;
   min-width: 500px;
   overflow-y: auto
 }
 image{
    background:rgba(0,0,0,0.5);
    max-width: 1350px;
    min-height: 500px;
    max-height: 500px;
    min-width: 1350px;
   
 }
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
   filter: brightness(40%);
   position: relative;
   margin: 0 auto;
   top: 0px; 
   left: 0px; 
   max-width: 1350px;
   min-height: 500px;
   max-height: 500px;
   min-width: 1350px;
   overflow: hidden;
}
.modal-header, h4, .close {
      background-color: black;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .h{
    font-size:80px;
    top:20%;
  }
  .casp{
    font-size:40px;
  }
  #bt{
     background-color: gray;
  }
  #bt2{
   background-color: gray; 
  }
  #head{
    background-color: lightgray;
  }
  #can{
    background-color: #FF4500;
  }
  
  #can3{
    background-color: #FF4500;
  }
  #can4{
    background-color: #FF4500;
  }
  #log{
    background-color: gray;
  }
  #myB1{
    color:white;
  }
  #myB2{
    color:white;
  }
  .modal-footer {
      background-color: black;
  }
  .birthday-picker select
{
  display: inline-block;
}
/*full width container*/
/*@media (max-width: 1000px) {
    .block {
        margin-left: -1000px;
        margin-right: -1000px;
    }*/
/*.navbar {
    position:absolute;
    top:30px;
    color:white;
    z-index:10;
    background:none;
    width:70%;
   
}*/
.carousel-caption {
    
    color: white;
    margin: 0 auto; 
    text-align: center;
    max-width: 1000px;
    top: 53%;
transform: translateY(-50%);
}}
.btn-primary-outline {
  background-color: transparent;
  border-color: gray;
}



.md-primary {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;

}

.md-primary {
  color : rgb(49, 46, 46);
  background-color: gray;
  
}

.md-primary:not([disabled]):hover {
  background-color: rgb( 73, 145, 249 );
  color: white;
}

.md-primary[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgb( 73, 145, 249 );
}




.md-warn {
  padding: 10px 7px 7px 10px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  border-width: 1px;
  border-color: red;
  border-style: solid;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.md-warn {
  color : rgb(49, 46, 46);
  background-color: white;
  
}

.md-warn:not([disabled]):hover {
  background-color: red;
  color: white;
}

.md-warn[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgb( 73, 145, 249 );
}

/***** Footer *****/

footer {
	padding-bottom: 70px;
	color: #fff;
}

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer p { opacity: 0.8; }

footer a {
	color: #fff;
}
footer a:hover, footer a:focus { color: #fff; border-bottom: 1px dotted #fff; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0; 
						border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

