<div class="container">
    <div class="row">
      <div class="modal-content" >
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal" ng-click="backTohome()">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" name="myForm" ng-model='myForm' ng-submit="SendData()">
            <div class="form-group">
              <label for="email"><span class="glyphicon glyphicon-user"></span> Email</label>
              <input type="email"  name="user.email" class="form-control" style="background-color:#F8F8FF" id="email" placeholder="you@example.com" ng-model='user.email' required>
              <span ng-show="myForm.user.email.$touched && myForm.user.email.$invalid || myForm.user.email.$dirty">The email is required.</span>
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" name="user.password" class="form-control" style="background-color:#F8F8FF" id="psw" placeholder="Enter password" ng-model="user.password" required>
              <span ng-show="myForm.user.password.$touched && myForm.user.password.$validators">The password is required.</span>
            </div>
            
              <button type="submit" class="btn btn-success btn-block" id="log" ><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button id="can2" class="btn btn-secondary btn-default pull-left" data-dismiss="modal" ng-click="backTohome()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
        </div>
      </div>
</div>
</div>