<div class="container" ng-init='initializeLookup()' ng-show='flag'>
<input type="text" name="search" id="search" placeholder="Search..." ng-model="search" align="middle">
    <div class="row"  >
        <div class="span4">
            <div class="content-heading"><img id="off" style=" float:left; width:60px" src="lookup\t1.jpg"  /></div>
            <h1 id="c" ><i>The Cases</i></h1>
        </div>
    </div> 
  <br>
   <div class="media"  ng-repeat="x in cases | filter: search" id="case" >
    <div class="media-left">
     <img src="lookup\t1.jpg"  class="media-object" style="width:60px"/>
    </div>
    <div class="media-body">
    <form class="form-horizontal">
     <div class="form-group">
     <div class="col-sm-10">
     <label class="control-label col-sm-2" >Cases name:</label>
       <p class="form-control-static" ng-model="x.type">{{x.type}}</p>
     </div>
      <div class="col-sm-10">
      <label class="control-label col-sm-2" >Isseud by:</label>
      <p class="form-control-static" ng-model="x.name">{{x.name}}</p>
     </div>
     <div class="col-sm-10">
      <label class="control-label col-sm-2" >Gender:</label>
      <p class="form-control-static" ng-model="x.gender">{{x.gender}}</p>
     </div>
     <div class="col-sm-10">
      <label class="control-label col-sm-2" >Email:</label>
      <p class="form-control-static" ng-model="x.email">{{x.email}}</p>
     </div>
     <div class="col-sm-10">
      <label class="control-label col-sm-2" >Phone_number:</label>
      <p class="form-control-static" ng-model="x.phone_number">{{x.phone_number}}</p>
     </div>
     <div class="col-sm-10" ng-show = "type">
      <label class="control-label col-sm-2" >Address:</label>
      <p class="form-control-static" ng-model="x.address">{{x.address}}</p>
     </div>
     <div class="col-sm-10" ng-show = "!type">
      <label class="control-label col-sm-2" >University:</label>
      <p class="form-control-static" ng-model="x.university">{{x.university}}</p>

     </div>
     <div class="col-sm-10">
      <label class="control-label col-sm-2" >Description:</label>
      <p class="form-control-static" ng-model="x.description">{{x.description}}</p>
     </div>
  </div> 
</form>
</div>
<br>
</div> 
</div>
