<div ng-show='!flag' align="middle">
  <strong class=''> no thing to show, press   <md-button md-no-ink class="md-primary" ng-click="openAddCase()">here </md-button>  to add new case?!
  </strong>
</div>



<div ng-show='flag' align="middle">

<div ng-repeat='case in mycases'>
	<div class="form-group">
     <div class="col-sm-10">
     <label class="control-label col-sm-2" >Cases Type:</label>
       <p class="form-control-static" ng-model="x.type">{{case.type}}</p>
     </div>
     <div>
      <div class="col-sm-10">
      	<label class="control-label col-sm-2" >description:</label>
      	<p class="form-control-static" ng-model="x.name">{{case.description}}</p>
      </div>
      <div class="col-sm-2">
      	<p class="form-control-static" ng-click='delete(case.id)'>
      	 <md-button class="md-warn">Delete</md-button></p>
     </div>  
     </div>
     <div class="col-sm-10">
      <label class="control-label col-sm-2" >Date created:</label>
      <p class="form-control-static" ng-model="x.gender">{{case.createdAt}}</p>
     </div>
        
  </div> 
</div>	
<br>


  <div class="col-xs-12 col-sm-4 col-lg-12 text-center"> 
    <button ng-click="openAddCase()" class="btn btn-warning pull-right">add new case</button>
  </div>
</div>


