
<br/>
<div class="form-group col-sm-offset-1">

            <label class="col-2 col-form-label pull-left" >case type: </label>
              <div class="col-10">

              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" ng-model='ucase.type'>
                <option value="Composite Restoration">
                  Composite Restoration 
                </option>
                <option value="Amalgam Restoration">
                  Amalgam Restoration 
                </option>
                <option value="Porcaline fused to metal crown">
                  Porcaline fused to metal crown 
                </option>
                <option value="Zircon Crown">
                  Zircon Crown 
                </option>
                <option value="Zircon Bridge">
                  Zircon Bridge
                </option>
              </select>
                </div>
</div>

        <div class="form-group col-sm-offset-1">
              <label class="col-2 col-form-label pull-left">case description:</label>
              <div class="col-10">
                <textarea class="form-control" rows="3" ng-mode='ucase.description'></textarea>
              </div>
              </div>

              <div class="modal-footer">
        <button class="btn btn-warning" type="button"
        ng-click="close()">Close</button>
        <button class="btn btn-warning" type="button" ng-show="ucase.type"
        ng-click="addCase()">add case</button>
      </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

