 <form data-toggle="validator" role="form" ng-model="x">
   <div class="container" ng-init="s=false ; p=false ;sh=false " ng-hide="sh" >
    <div class="row">
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal" ng-click="sh=true">&times;</button>
          <h4> Signup</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" name="x">
            <div class="form-group">
              <label for="usrname" class="control-label" ><span class="glyphicon glyphicon-user"></span> Name</label>
              <input type="text" class="form-control" style="background-color:#F8F8FF" id="usrname" placeholder="Enter Your Full Name..." ng-model="info.name" required>
            </div>
            <div class="form-group">
              <label for="usremail" class="control-label"> Email</label>
              <input type="email" class="form-control" style="background-color:#F8F8FF" id="usremail" placeholder="You@example.com" name='info.email' ng-model='info.email' required>
              <span ng-show="x.info.email.$touched && x.info.email.$invalid || x.info.email.$dirty">The email is required.</span>
              </div>
               <form name="myForm">
               <div class="form-group">
               <label for="usrpassword" class="control-label"> password</label>
               <input type="password" class="form-control" style="background-color:#F8F8FF" name="info.password" id="info.password" ng-model="info.password"  placeholder="Password at least 6 characters..."  ng-minlength="6" required/>
               <div ng-show="myForm.info.password.$invalid">password should be 6 character min... </div>
               </div>
               <div class="form-group">
               <label for="usrpassword" class="control-label">con-password</label>
               <input type="password" class="form-control" style="background-color:#F8F8FF" name="info.conpassword" id="info.conpassword" ng-model="info.conpassword" placeholder="Confirm your password" pw-check="info.password" required>
               </div>
               </form>
               <form ng-model="info.gender" ng-init="info.gender=0" ng-click='confirmtest()'>
               <div class="alert alert-warning" ng-show="f">
               <strong>Warning!</strong> Passwords don't match.
               </div>
                  <label for="usrage" class="control-label">Gender</label>
                   <br>
                   <label class="radio-inline">
                   <input type="radio" name="optradio" ng-model="info.gender" value='male'>Male
                   </label>
                   <label class="radio-inline">
                   <input type="radio" name="optradio" ng-model="info.gender" value='female'>Female
                   </label>
               </form>
               <div class="form-group" >  
                  <label for="phn" class="control-label"> phoneNum</label>
                  <input type="text" class="form-control" style="background-color:#F8F8FF" id="phn" placeholder="Enter Your Phone Number..." ng-model="info.phoneNumber" required>
               </div>
               <form >
                  <label for="usrage" class="control-label">choose user type:</label>
                  <br>
                  <label class="radio-inline">
                  <input type="radio" name="optradio" value='false' ng-model="student" ng-click="s=false;p=true" >student
                  </label>
                  <label class="radio-inline">
                  <input type="radio" name="optradio" value='false' ng-model="patient" ng-click="s=true ; p=false" >patient
                  </label>  
                </form>
               <div class="form-group" ng-show='p'>
                  <label for="uni" class="control-label"> University</label>
                  <input type="text" class="form-control" style="background-color:#F8F8FF" id="uni" placeholder="Enter Your university name if you are student" ng-model="info.university" >
               </div>
               <div class="form-group" ng-show='s'>
                  <label for="add" class="control-label">  Address</label>
                  <input type="text" class="form-control" style="background-color:#F8F8FF" id="add" placeholder="Enter Your address if you are patient" ng-model="info.address" > 
               </div>
               <div class="checkbox">
                  <label><input type="checkbox" value="" checked>Remember me</label>
               </div>
                  <button type="submit" class="btn btn-success btn-block" id="bt" ng-click="SendData()">Submit</button>
              </form>
              </div>  
              <div class="modal-footer">
              <button type="submit" id="can" class="btn btn-danger btn-default pull-left" data-dismiss="modal" ng-click="sh=true"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
              <p>Not a member? <a href="#">Sign Up</a></p>
              <p>Forgot <a href="#">Password?</a></p>
              </div>
            </div>
        </div>
       </div>
    </form>